.container{
   
    
    width: 100%;
    height: 50px;

.headerdiv{
    width: 100%;

    display: flex;
    justify-content: space-between;
    h1{
        margin: 0 !important;
    }
}
.main-content{
    clear: both;
    margin: 0;
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h3{
   
        clear: both;
        margin: 0;
        position: absolute;
        top: 230%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        a{
            text-decoration: none;
            color: black;
        }
    }
   
}


}


::ng-deep .mat-icon{
    font-size: 30px;
}