<div class="container">
    <div class="headerdiv">
        <h1>Python</h1>
        <button mat-raised-button color="primary" (click)="openDialog()">Add Chapter/Modules</button>

    </div>
    <div class="main-content">
        <mat-icon (click)="openDialog()">add</mat-icon>
        <h3><a routerLink="/home/viewCourse">Please add chapter/Module</a></h3>

    </div>

    <div class="pt-3" *ngIf="visibiltyy">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2> Course Introduction</h2>

                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                    <a style="align-items: right;" (click)="openDialog()">add content</a>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="pt-3" *ngIf="visibiltyy">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2> Software Tools Setup</h2>

                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                    <a style="align-items: right;" (click)="openDialog()">add content</a>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="pt-3" *ngIf="visibiltyy">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2> First Steps</h2>

                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                    <a style="align-items: right;" (click)="openDialog()">add content</a>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                    <p style="width: 80%;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem est,
                        ad explicabo nemo
                        voluptates. Mollitia obcaecati tenetur numquam cupiditate, iusto vel quibusdam veritatis totam
                        doloremque itaque aspernatur ratione eveniet.</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>