mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 4rem;
  background-color: #f95418;
  min-height: fit-content !important;
}

mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar-row .left {
  display: flex;
}

.left button {
  margin-right: 2rem;
  cursor: pointer;
}

.breadcrumbs {
  display: flex;
  margin: 0px !important;

  .breadcrumbs-item {
    list-style: none;
  }
}

mat-toolbar-row button {
  outline: none;
  border-radius: 5px;
  border: 0px;
  background: transparent;
}

.user {
  font-size: 1rem;
  display: flex;
  align-items: center;
}


.user-image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}