<mat-toolbar>
  <mat-toolbar-row>

    <div class="left">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="breadcrumbsList">
        <ol class="breadcrumbs">
          <li class="breadcrumbs-item" *ngFor="let item of breadcrumbList; let i = index"
            [class.active]="i===breadcrumbList.length-1">
            <span *ngIf="i!==breadcrumbList.length-1">
              <a [routerLink]="item.path">
                {{ item.name }}
              </a>&nbsp; / &nbsp;
            </span>
            <span *ngIf="i===breadcrumbList.length-1"> {{ item.name }}</span>
          </li>
        </ol>
      </div>
    </div>

    <div class="right">
      <button mat-button [matMenuTriggerFor]="menu" class="user">
        <img src="../../assets/user.jpg" alt="" class="user-image" />
        <span>{{ loginAuth.getUser().name }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="loginAuth.logOut()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>
</mat-toolbar>