.footer-container {
    height: 30px;
    background-color: rgb(133, 131, 131);
    color: white;
    margin-top: auto;
    margin: auto 0;
  }
  .footer-content {
    margin: 0 auto;
    text-align: center;
  }