<h1>Add Users details</h1>
<mat-divider></mat-divider>

<form [formGroup]="addUserForm" class="p-5 ml-3 formbox" (click)="addUser()"  type="reset">

  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Name
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label> Name</mat-label>
          <input formControlName="name" type="text" [pattern]="'[a-zA-Z ]*'" matInput placeholder="Enter User Name">
          <mat-error>
            Enter only alphabates
        </mat-error>
        <!-- <mat-error *ngIf="addUserForm.invalid">The first name is required</mat-error> -->
        </mat-form-field>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      User Email
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Enter">
        </mat-form-field>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Mobile
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input formControlName="mobileNo" type="number" matInput placeholder="Mobile">
        </mat-form-field>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Password
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="passWord" type="password" matInput placeholder="Enter Password">
          <mat-error></mat-error>
        </mat-form-field>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Role
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option label="--select role --"></mat-option>
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Teacher">Teacher</mat-option>
            <mat-option value="Student">Student</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Reporting To:
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Reporting To</mat-label>
          <input formControlName="reports_to" type="text" matInput placeholder="enter email" list="emails"
            autocomplete="off" id="reports_to">
          <datalist id="emails">
            <option *ngFor="let item of seniors" value="{{ item.email }}">
              {{ item.name }} -
              {{ item.role_name }}
            </option>
          </datalist>
        </mat-form-field>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Status
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option label="--select status --"></mat-option>
            <mat-option value="active">Active</mat-option>
            <mat-option value="inactive">in-Active</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pt-3 subtitle">
      Department
    </div>
    <div class="col-md-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select formControlName="dept_name">
            <mat-option label="--select Department --"></mat-option>
            <mat-option value="IT">IT</mat-option>
            <mat-option value="sales">sales</mat-option>
            <mat-option value="HR">HR</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
  </div>

  <div class="example-label">
    <button mat-raised-button color="primary" class="example-label">Submit</button>
  </div>

</form>