<div class="cardsContainer" *ngIf="role==1">
  <div class="cardColumn" *ngFor="let cardData of cardsData">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <h2>{{ cardData.count }}</h2>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>
  <div class="cardColumn">
    <div class="statCard">
      <div class="leftPart">
        <p>License prepaid</p>
        <div>
          <p>total: 4928 Consumed: 2922</p>
          <p>available: 329</p>
          <p style="color:rgb(0, 102, 185);">valid till : 1 July 2022</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cardsContainer" *ngIf="role==2">
  <div class="cardColumn" *ngFor="let cardData of teacherCardsData">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <h2>{{ cardData.count }}</h2>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>
</div>



<div class="cardsContainer" *ngIf="role==3">
  <div class="cardColumn" *ngFor="let cardData of studentcardsData">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <h2>{{ cardData.count }}</h2>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>
  <div class="cardColumn" *ngFor="let cardData of studentcardsData1">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <p>{{ cardData.data }}</p>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>


</div>