<div class="cardsContainer" *ngIf="role==1">
  <div class="cardColumn" *ngFor="let key of keydata">
    <div class="statCard">
      <div class="leftPart">
        <h2>{{ key }}</h2>
        <p class="">{{dashboardData[key]}}</p>
      </div>
      <!-- <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div> -->
    </div>
  </div>
</div>


<!-- <div class="cardsContainer" *ngIf="role==2">
  <div class="cardColumn" *ngFor="let cardData of teacherCardsData">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <h2>{{ cardData.count }}</h2>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>
</div>



<div class="cardsContainer" *ngIf="role==3">
  <div class="cardColumn" *ngFor="let cardData of studentcardsData">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <h2>{{ cardData.count }}</h2>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>
  <div class="cardColumn" *ngFor="let cardData of studentcardsData1">
    <div class="statCard">
      <div class="leftPart">
        <p class="">{{cardData.title}}</p>
        <p>{{ cardData.data }}</p>
      </div>
      <div class="rightPart">
        <i ngClass="{{ cardData.icon }}"></i>
      </div>
    </div>
  </div>
</div> -->