<div class="loginFormContainer">
    <img src="./assets/logo2.jpg" alt="">
    <div class="loginForm">
        <div class="logo">
            <h1>LMS</h1>
        </div>
        <div class="loginItem">
            <form [formGroup]="loginForm" (ngSubmit)="login()" ngNativeValidate>
                <br>
                <div class="formGroup">
                    <label for="username">Email : </label>
                    <input formControlName="email" type="email" name="email" id="username" required>
                </div>
                <div class="formGroup">
                    <label for="password"> Password : </label>
                    <input formControlName="password" type="password" name="password" id="password" required>
                </div>
                <!-- check box to stay signed in -->
                <div class="formGroup my-3">
                    <input type="submit" name="Submit">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="isInvalid">
                    <strong> credentials do not match</strong>
                </div>

            </form>
        </div>

    </div>
</div>