<div class="usersContainer">

    <div class="example-label pb-3" routerLink="/users/addUsers">
        <button mat-raised-button   style="background-color: #f95418" class="example-label"> Export</button>
    </div>

    <div class="usersTableContainer">
        <mat-form-field appearance="outline" style="width: 400px;">
            <mat-label style="font-size: 16px;">Search Anything..</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <table mat-table matSort (matSortChange)="announceSortChange($event)" [dataSource]="users"
            class="mat-elevation-z8">

            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>UID</th>
                <td mat-cell *matCellDef="let user">{{ user.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let user">{{ user.name }}
                    <p style="margin:0px !important; color:gray;font-size:0.8rem">{{ user.lastLogin }} ago</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let user">{{ user.email }}</td>
            </ng-container>

            <ng-container matColumnDef="dept">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                <td mat-cell *matCellDef="let user">{{ user.dept_name }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                <td mat-cell *matCellDef="let user">{{ user.role_name }}</td>
            </ng-container>

            <ng-container matColumnDef="Reports To">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reports TO</th>
                <td mat-cell *matCellDef="let user">{{ user.senior_name }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="paginatorContainer">
        <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>