.progressContainer {
  width: 100%;
  display: flex;
  color: black;
}

.progressbarContainer,
.plotgraphContainer {
  width: 50%;
  padding: 1rem .5rem;
}

.progressCard, .plotgraphCard {
    h1 {
    font-size: 3rem;
       }
  
  background-color: white;
  padding: 1rem 1rem;
  box-shadow: 0px 0px 10px -2px rgb(168, 168, 168);
}


.table {
  width: 100%;
}

.table tr td:nth-child(1) {
  width: 5%;
}

.table tr td:nth-child(2) {
  width: 65%;
}

.table tr td:nth-child(3) {
  width: 15%;
}

.table tr td:nth-child(4) {
  width: 15%;
}
