<mat-nav-list>
  <div class="logo py-2  pt-0">
    <img src="./assets/logo2.jpg" alt="Company Logo0" routerLink="/home" />
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"  style="color: orange;"> <mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-list-item routerLink="/courses" routerLinkActive="list-item-active"> <mat-icon>dashboard</mat-icon>Courses</a>
  <a mat-list-item routerLink="/learnings" routerLinkActive="list-item-active"> <mat-icon>assignment</mat-icon>Learning Objects</a>
  <a mat-list-item routerLink="/sessions" routerLinkActive="list-item-active"> <mat-icon>class</mat-icon>Classroom Sessions</a>
  <a mat-list-item routerLink="home/meetings" routerLinkActive="list-item-active"> <mat-icon>videocam</mat-icon>Webninars/Meeting</a>
  <a mat-list-item routerLink="/users" routerLinkActive="list-item-active"> <mat-icon>people</mat-icon>Users</a>
  <a mat-list-item routerLink="/batches" routerLinkActive="list-item-active"> <mat-icon>class</mat-icon>Batches</a>
  <a mat-list-item routerLink="/evaluations" routerLinkActive="list-item-active"> <mat-icon>assignment_turned_in</mat-icon>Evaluations</a>
  <a mat-list-item routerLink="/announcements" routerLinkActive="list-item-active"> <mat-icon>edit</mat-icon>Announcements</a>
  <a mat-list-item routerLink="/reports" routerLinkActive="list-item-active"> <mat-icon>report_problem</mat-icon> Reports</a>
  <a mat-list-item routerLink="/settings" routerLinkActive="list-item-active"> <mat-icon>settings</mat-icon> Settings</a> 
</mat-nav-list> 