// todo media queries for all components in home componenet
@media screen and (max-width: 768px) {
    .card-column {
        width: 48%;
    }
    .progressContainer {
        width: 100%;
        display: flex;
        flex-direction: column;

        .progressbarContainer,
        .plotgraphContainer {
            width: 100%;
        }

    }
}

@media screen and (max-width: 480px) {
    .card-column {
        width: 100%;
    }
}
