.page {
    color: white;
    padding: 0 1rem;
    background: white;
    &__box {
      min-height: 100px;
      background: white; //color of header ke niche ka componet
      margin: 0 -1rem;
      font-size: 36px;
      color:black ;
    }
    &__content {
      min-height: calc(100vh - 200px); //to change the height of white kindof container on home component
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      // &-data {        //for the data to be in ce
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      // }
    }
  }

  .breadcrumblinks a{ 
    color: black;
    list-style: none;
    text-decoration: none;
  }

//cards SCSS
  .container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 240px));
    grid-auto-rows: 1fr;
    justify-content: space-evenly;
    gap: 15px;
}

.cardicon {
    background-color: white;
    display: flex;
    //align-items: center;
    padding: 10px 5px;
    box-shadow: 0px 0px 20px -13px black;
    border-radius: 2px 5px 5px 2px;
    height: 110px;
}

.leftPart {
    flex: 4;
    padding: 0px 5px;
}

.leftPart p {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(87, 87, 87);
}

.leftPart h2 {
    padding: 10px 0px;
}

.rightPart {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.rightPart i {
    color: white;
    padding: 8px;    //changes from 10px to 8px
    border-radius: 20px;
}

.cardicon:last-of-type .leftPart div p {
    font-size: 10px;
    line-height: 15px;
}

.cardicon:nth-child(1) .rightPart i {
    background-color: blue;
}

.cardicon:nth-child(1) {
    border-right: 4px solid blue;
}


.cardicon:nth-child(2) .rightPart i {
    background-color: rgb(255, 81, 0);
}

.cardicon:nth-child(2) {
    border-right: 4px solid rgb(255, 81, 0);
}


.cardicon:nth-child(3) .rightPart i {
    background-color: rgb(91, 92, 44);
}

.cardicon:nth-child(3) {
    border-right: 4px solid rgb(91, 92, 44);
}


.cardicon:nth-child(4) .rightPart i {
    background-color: rgb(9, 172, 184);
}

.cardicon:nth-child(4) {
    border-right: 4px solid rgb(9, 172, 184);
}


.cardicon:nth-child(5) .rightPart i {
    background-color: rgb(21, 168, 8);
}

.cardicon:nth-child(5) {
    border-right: 4px solid rgb(21, 168, 8);
}


.cardicon:nth-child(6) .rightPart i {
    background-color: rgb(128, 0, 179);
}

.cardicon:nth-child(6) {
    border-right: 4px solid rgb(128, 0, 179);
}


.cardicon:nth-child(7) .rightPart i {
    background-color: rgb(146, 4, 4);
}

.cardicon:nth-child(7) {
    border-right: 4px solid rgb(146, 4, 4);
}

.cardicon:nth-child(8) {
    border-right: 4px solid rgb(0, 0, 0);
}

//ENd of Card SCSS


//progressclass and plot class

// .progressclass{
//     display: flex;
// }
